{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  <h1 class="h2 text-center">Register</h1>

  {{ form_start(form, {
    'attr': {
      'id': 'registration-form',
      'class': 'container content-container'
    }
  }) }}
    {{ include('forms/global_errors.html.twig') }}
    {{ include('forms/field.html.twig', {
      'field': form.name
    }) }}
    {{ include('forms/field.html.twig', {
      'field': form.email
    }) }}
    {{ include('forms/field.html.twig', {
      'field': form.password.first
    }) }}
    {{ include('forms/field.html.twig', {
      'field': form.password.second
    }) }}
    {{ include('forms/field.html.twig', {
      'field': form.agreeTerms,
      'attr': {
        'class': 'form-check-input'
      }
    }) }}
    {{ form_rest(form) }}
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary btn-lg form-button">Register</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
