{% block stylesheets %}
  <link href="{{ asset('styles/book.css') }}" rel="stylesheet">
  <link href="{{ asset('styles/book-form.css') }}" rel="stylesheet">
{% endblock %}

{{ form_start(form) }}
    <div class="container book-container">
      {% if book.photo %}
        <div class="book-image">
          <img src="{{ asset('assets/images/books/'~book.id~'/'~book.photo) }}" alt="photo">
        </div>
        <div class="book-info">
          <div class="book-info-title">{{ field_label(form.deletePhoto) }}</div>
          <div class="book-info-content"><input type="checkbox" name="{{ field_name(form.deletePhoto) }}" class="form-check-input"></div>
        </div>
      {% endif %}
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.photo) }}</div>
        <div class="book-info-content"><input type="file" name="{{ field_name(form.photo) }}" class="form-control"></div>
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.title) }}</div>
        <div class="book-info-content"><input type="text" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" class="form-control" {{ form.title.vars.required ? 'required' : '' }}></div>
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.author) }}</div>
        <div class="book-info-content"><input type="text" name="{{ field_name(form.author) }}" value="{{ field_value(form.author) }}" class="form-control" {{ form.title.vars.required ? 'required' : '' }}></div>
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.year) }}</div>
        <div class="book-info-content"><input type="number" name="{{ field_name(form.year) }}" value="{{ field_value(form.year) }}" class="form-control" {{ form.title.vars.required ? 'required' : '' }}></div>
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.description) }}</div>
        <div class="book-info-content"><textarea name="{{ field_name(form.description) }}" value="{{ field_value(form.description) }}" class="form-control" rows="6" {{ form.title.vars.required ? 'required' : '' }}></textarea></div>
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.isbn) }}</div>
        <div class="book-info-content"><input type="number" name="{{ field_name(form.isbn) }}" value="{{ field_value(form.isbn) }}" class="form-control" {{ form.title.vars.required ? 'required' : '' }}></div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary form-button">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
