{% block stylesheets %}
  <link href="{{ asset('styles/book.css') }}" rel="stylesheet">
  <link href="{{ asset('styles/book-form.css') }}" rel="stylesheet">
{% endblock %}

{{ form_start(form) }}
  <div class="container book-container">
    {% if book.photo %}
      <div class="book-image">
        <img src="{{ asset(book.getPhotosPath()~'/'~book.photo) }}" alt="photo">
      </div>
      <div class="book-info">
        <div class="book-info-title">{{ field_label(form.deletePhoto) }}</div>
        <div class="book-info-content"><input type="checkbox" name="{{ field_name(form.deletePhoto) }}" class="form-check-input"></div>
      </div>
    {% endif %}
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.photo) }}</div>
      <div class="book-info-content">
        <input type="file" name="{{ field_name(form.photo) }}" class="form-control{{ field_errors(form.photo)|length ? ' is-invalid' : '' }}" {{ form.photo.vars.required ? 'required' : '' }}>
        {% for error in field_errors(form.photo) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.title) }}</div>
      <div class="book-info-content">
        <input type="text" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" class="form-control{{ field_errors(form.title)|length ? ' is-invalid' : '' }}" {{ form.title.vars.required ? 'required' : '' }}>
        {% for error in field_errors(form.title) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.author) }}</div>
      <div class="book-info-content">
        <input type="text" name="{{ field_name(form.author) }}" value="{{ field_value(form.author) }}" class="form-control{{ field_errors(form.author)|length ? ' is-invalid' : '' }}" {{ form.author.vars.required ? 'required' : '' }}>
        {% for error in field_errors(form.author) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.year) }}</div>
      <div class="book-info-content">
        <input type="number" name="{{ field_name(form.year) }}" value="{{ field_value(form.year) }}" class="form-control{{ field_errors(form.year)|length ? ' is-invalid' : '' }}" {{ form.year.vars.required ? 'required' : '' }}>
        {% for error in field_errors(form.year) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.description) }}</div>
      <div class="book-info-content">
        <textarea name="{{ field_name(form.description) }}" class="form-control{{ field_errors(form.description)|length ? ' is-invalid' : '' }}" rows="6" {{ form.description.vars.required ? 'required' : '' }}>{{ field_value(form.description) }}</textarea>
        {% for error in field_errors(form.description) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">{{ field_label(form.isbn) }}</div>
      <div class="book-info-content">
        <input type="number" name="{{ field_name(form.isbn) }}" value="{{ field_value(form.isbn) }}" class="form-control{{ field_errors(form.isbn)|length ? ' is-invalid' : '' }}" {{ form.isbn.vars.required ? 'required' : '' }}>
        {% for error in field_errors(form.isbn) %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary form-button">{{ button_label|default('Save') }}</button>
  </div>
{{ form_end(form) }}
