{% block stylesheets %}
  <link href="{{ asset('styles/book-card.css') }}" rel="stylesheet">
{% endblock %}

{% for book in books %}
  <div class="card book-card col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card-body">
      <a href="{{ path('app_books_show', {'id': book.id}) }}" class="d-block text-center btn card-main-link">
        <span class="card-img">
          {{ include('books/photo.html.twig') }}
        </span>
        <span class="d-block card-title">{{ book.title }}</span>
      </a>
      <p class="card-subtitle h6 mb-2 text-muted">{{ include('authors/names.html.twig', {'authors': book.authors}) }}</p>
      <p class="card-text h6 text-muted">{{ book.year }} year</p>
    </div>
  </div>
{% else %}
  <div class="text-center">No books found</div>
{% endfor %}