{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <header class="text-center">
      <h1>Edit Book</h1>
      <h2>{{ book.title }}</h2>
    </header>

    {# {% if book.photo %}
      <img src="{{ asset('assets/images/books/'~book.id~'/'~book.photo) }}" alt="photo">
    {% endif %} #}

    {{ include('books/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="buttons-container">
      <a href="{{ path('app_books_index') }}" class="btn btn-secondary form-button">Back to list</a>
      {{ include('books/_delete_form.html.twig') }}
    </div>
{% endblock %}
