{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1 class="text-center">Books</h1>

    {% if app.user %}
    <div class="text-center my-4">
      <a href="{{ path('app_books_new') }}" class="btn btn-success">Create new</a>
    </div>
    {% endif %}

    <div class="container">
      <div class="row gap-3 justify-content-center">
        {% for book in books %}
          <div class="card col-12 col-sm-4 col-lg-3">
            <div class="card-img text-center">
              {% if book.photo %}
                <img src="{{ asset('assets/images/books/'~book.id~'/'~book.photo) }}" alt="book photo" class="img">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
              <p class="card-text">{{ book.year }}</p>
              <p class="card-text">{{ book.description }}</p>
              <div class="text-center">
                <a href="{{ path('app_books_show', {'id': book.id}) }}" class="btn btn-primary w-100">Details</a>
              </div>
            </div>
          </div>
        {% else %}
          <div>No records found</div>
        {% endfor %}
      </div>
    </div>

    <div class="text-center my-5">
      <a href="{{ path('app_books_index', {
          'page': currentPage - 1,
          'book-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage > 1 ? '' : ' disabled' }}">Previous page</a>
      <span>{{ currentPage }} / {{ pagesCount }}</span>
      <a href="{{ path('app_books_index', {
        'page': currentPage + 1,
        'book-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage < pagesCount ? '' : ' disabled' }}">Next page</a>
    </div>
{% endblock %}
