{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1 class="h2 text-center">Books</h1>

    {% if app.user %}
      <div class="text-center my-4">
        <a href="{{ path('app_books_new') }}" class="btn btn-success">Create new</a>
      </div>
    {% endif %}

    <div class="container-fluid">
      <div class="row gap-3 justify-content-center">
        {{ include('books/cards.html.twig', {'books': books}) }}
      </div>
    </div>

    <div class="text-center my-5">
      <a href="{{ path('app_books_index', {
        'page': currentPage - 1,
        'book-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage > 1 ? '' : ' disabled' }}">Previous page</a>
      <span>{{ currentPage }} / {{ pagesCount }}</span>
      <a href="{{ path('app_books_index', {
        'page': currentPage + 1,
        'book-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage < pagesCount ? '' : ' disabled' }}">Next page</a>
    </div>
{% endblock %}
