{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/book.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  <header class="text-center">
    <h1 class="h2">Book</h1>
    <h2 class="h3"><a href="{{ path('app_books_show', {'id': book.id}) }}" class="link-light">{{ book.title }}</a></h2>
  </header>

  {% if app.user %}
    <div class="container mb-4 d-flex justify-content-center align-items-center gap-2">
      <a href="{{ path('app_books_edit', {'id': book.id}) }}" class="btn btn-secondary">Edit</a>

      {{ include('books/_delete_form.html.twig') }}
    </div>
  {% endif %}

  <div class="container book-container content-container">
    <div class="book-image-container">
      {% if book.photo %}
        <img src="{{ asset('assets/images/books/'~book.id~'/'~book.photo) }}" alt="photo" class="img">
      {% endif %}
    </div>
    <div class="data-row">
      <div class="data-row-title">Title</div>
      <div class="data-row-content">{{ book.title }}</div>
    </div>
    <div class="data-row">
      <div class="data-row-title">Author</div>
      <div class="data-row-content">{{ book.author }}</div>
    </div>
    <div class="data-row">
      <div class="data-row-title">Year</div>
      <div class="data-row-content">{{ book.year }}</div>
    </div>
    <div class="data-row">
      <div class="data-row-title">Description</div>
      <div class="data-row-content">{{ book.description }}</div>
    </div>
    <div class="data-row">
      <div class="data-row-title">ISBN</div>
      <div class="data-row-content">{{ book.isbn }}</div>
    </div>
  </div>
{% endblock %}
