{% block stylesheets %}
  <link href="{{ asset('styles/author-form.css') }}" rel="stylesheet">
{% endblock %}

{{ form_start(form, {
  'attr': {
    'id': 'author-form',
    'class': 'container content-container'
  }
}) }}
  <div class="errors">
    {% for error in form.vars.errors %}
      <div class="alert alert-danger">{{ error.getMessage() }}</div>
    {% endfor %}
  </div>
  {{ include('forms/field.html.twig', {
    'field': form.name
  }) }}
  {{ include('forms/field.html.twig', {
    'field': form.surname
  }) }}
  {{ form_rest(form) }}
  <div class="text-center">
    <button class="btn btn-primary form-button">{{ button_label|default('Save') }}</button>
  </div>
{{ form_end(form) }}
