{% extends 'base.html.twig' %}

{% block title %}Edit author{% endblock %}

{% block body %}
  <header class="text-center">
    <h1 class="h2">Edit author</h1>
    <h2 class="h3"><a href="{{ path('app_authors_show', {'id': author.id}) }}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ author }}</a></h2>
  </header>

  {{ include('authors/_form.html.twig', {'button_label': 'Update'}) }}

  <div class="buttons-container">
    <a href="{{ path('app_authors_index') }}" class="btn btn-secondary form-button">Back to list</a>
    {{ include('authors/_delete_form.html.twig') }}
  </div>
{% endblock %}
