{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1 class="h2 text-center">Authors</h1>

    {% if app.user %}
      <div class="text-center my-4">
        <a href="{{ path('app_authors_new') }}" class="btn btn-success">Add new</a>
      </div>
    {% endif %}

    <div class="container-fluid">
      <div class="row gap-3 justify-content-center">
        {% for author in authors %}
          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card-body">
              <h5 class="card-title">{{ author }}</h5>
              <p class="card-text text-muted">{{ author.books.count() }} book(s)</p>
              <div class="text-center">
                <a href="{{ path('app_authors_show', {'id': author.id}) }}" class="btn btn-primary w-100">Details</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="text-center">No authors found</div>
        {% endfor %}
      </div>
    </div>

    <div class="text-center my-5">
      <a href="{{ path('app_authors_index', {
        'page': currentPage - 1,
        'author-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage > 1 ? '' : ' disabled' }}">Previous page</a>
      <span>{{ currentPage }} / {{ pagesCount }}</span>
      <a href="{{ path('app_authors_index', {
        'page': currentPage + 1,
        'author-title-or-author': searchValue
      }) }}" class="btn btn-secondary{{ currentPage < pagesCount ? '' : ' disabled' }}">Next page</a>
    </div>
{% endblock %}
