{% extends 'base.html.twig' %}

{% block title %}{{ 'authors'|trans }}{% endblock %}

{% block body %}
  <h1 class="h2 text-center">{{ 'authors'|trans }}</h1>

  {% if is_granted(enum('App\\Enum\\UserRole').Moderator.value) %}
    <div class="text-center my-4">
      <a href="{{ path('app_authors_new') }}" class="btn btn-success">{{ 'add_new'|trans }}</a>
    </div>
  {% endif %}

  <form action="{{ path('app_authors_index') }}" method="get" class="d-flex container content-container mb-5" role="search">
    <div class="input-group">
      <input class="form-control form-control-lg" type="search" name="search" placeholder="{{ 'search_authors'|trans }}" aria-label="{{ 'search'|trans }}" value="{{ authorSearchValue ?? '' }}">
      <button class="btn btn-success" type="submit" title="{{ 'search'|trans }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
    </div>
  </form>

  <div class="container-fluid">
    <div class="row gap-3 justify-content-center">
      {% for author in authors %}
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card-body">
            <a href="{{ path('app_authors_show', { id: author.id }) }}" class="d-block text-center btn card-main-link">
              <span class="card-img">
                {{ include('authors/photo.html.twig') }}
              </span>
              <span class="d-block card-title">{{ author }}</span>
            </a>
            <p class="card-text h6 text-muted">{{ author.books.count() }} {{ 'book_s'|trans }}</p>
          </div>
        </div>
      {% else %}
        <div class="text-center">{{ 'no_authors_found'|trans }}</div>
      {% endfor %}
    </div>
  </div>

  {{ include('pagination.html.twig', {
    currentPage: currentPage,
    pagesCount: pagesCount,
    prevUrl: path('app_authors_index', {
      page: currentPage - 1,
      search: authorSearchValue,
    }),
    nextUrl: path('app_authors_index', {
      page: currentPage + 1,
      search: authorSearchValue,
    }),
  }) }}
{% endblock %}
