<!DOCTYPE html>
<html data-bs-theme="{{ app.request.cookies.get('theme') is same as('light') ? 'light' : 'dark' }}" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme.js') }}"></script>

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header id="main-header" class="bg-body-secondary">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          {# <!-- <a class="navbar-brand" href="{{ path('app_books_index') }}">Books</a> --> #}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-sm-0">
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_books_index' %}active{% endif %}" href="{{ path('app_books_index') }}">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_authors_index' %}active{% endif %}" href="{{ path('app_authors_index') }}">Authors</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') == 'app_user_my_account' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if app.user %}
                    {{ app.user.name }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_user_my_account') }}">Profile</a></li>
                    {% if not app.user.emailVerified %}
                      <li><a class="dropdown-item" href="{{ path('app_email_verification') }}">Verify email</a></li>
                    {% endif %}
                    {% if app.user.role is same as(enum('App\\Enum\\UserRole').Admin) %}
                      <li><a class="dropdown-item" href="{{ path('app_admin_panel') }}">Admin panel</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                  </ul>
                {% else %}
                    Account
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>
                  </ul>
                {% endif %}
              </li>
            </ul>
            <button type="button" class="btn btn-secondary toggle-theme" title="Toggle theme">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-sun-fill theme-icon sun-icon" viewBox="0 0 16 16" width="16" height="16">
                <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-moon-fill theme-icon moon-icon">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
              </svg>
              {# <img src="{{ asset('images/moon-fill.svg') }}" alt="Theme"> #}
            </button>
            <form action="{{ path('app_books_index') }}" method="get" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="search" placeholder="Search books" aria-label="Search" value="{{ searchValue ?? '' }}">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
    	{% block body %}{% endblock %}
    </main>
  </body>
</html>
