{% set currentLocale = app.request.getLocale() %}
{% set currentTheme = app.request.attributes.get('theme') %}

<!DOCTYPE html>
<html data-bs-theme="{{ currentTheme }}" lang="{{ currentLocale }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('bootstrap.min.js') }}"></script>
    <script src="{{ asset('locale.js') }}"></script>
    <script src="{{ asset('theme.js') }}"></script>

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header id="main-header" class="bg-body-secondary">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          {# <a class="navbar-brand" href="{{ path('app_home') }}">Books</a> #}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'toggle_navigation'|trans }}">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills me-auto my-2 my-sm-0">
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_books_index' %}active{% endif %}" href="{{ path('app_books_index') }}">{{ 'books'|trans }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_authors_index' %}active{% endif %}" href="{{ path('app_authors_index') }}">{{ 'authors'|trans }}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle user-dropdown-toggle {% if app.request.attributes.get('_route') == 'app_user_my_account' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if app.user %}
                    {# <span class="user-icon">{{ include('user/photo.html.twig') }}</span> #}
                    <span class="">{{ app.user.name }}</span>
                  </a>
                  <ul class="dropdown-menu user-dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_user_my_account') }}">{{ 'profile'|trans }}</a></li>
                    {% if not app.user.emailVerified %}
                      <li><a class="dropdown-item" href="{{ path('app_email_verification') }}">{{ 'verify_email'|trans }}</a></li>
                    {% endif %}
                    {% if app.user.role is same as(enum('App\\Enum\\UserRole').Admin) %}
                      <li><a class="dropdown-item" href="{{ path('app_admin_panel') }}">{{ 'admin_panel'|trans }}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
                  </ul>
                {% else %}
                    {{ 'account'|trans }}
                  </a>
                  <ul class="dropdown-menu user-dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'login'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'register'|trans }}</a></li>
                  </ul>
                {% endif %}
              </li>
            </ul>
            <form action="{{ path('app_books_index') }}" method="get" class="d-flex my-2 my-sm-0" role="search">
              <div class="input-group">
                <input class="form-control" type="search" name="search" placeholder="{{ 'search_books'|trans }}" aria-label="{{ 'search'|trans }}" value="{{ searchValue ?? '' }}">
                <button class="btn btn-success" type="submit" title="{{ 'search'|trans }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </button>
              </div>
            </form>
            <div class="dropdown settings ms-sm-2">
              <button type="button" class="w-100 btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'settings'|trans }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
              </button>
              <ul class="dropdown-menu settings-dropdown">
                <li class="theme-section">
                  {% for theme in app.request.attributes.get('themes') %}
                    <input type="radio" id="theme-{{ theme }}" name="theme" class="btn-check toggle-theme" value="{{ theme }}"{% if currentTheme is same as(theme) %} checked{% endif %}>
                    <label for="theme-{{ theme }}" class="btn" title="{{ ('theme.' ~ theme)|trans }} {{ 'theme.text'|trans }}">
                      {{ include('theme/' ~ theme ~ '.html.twig') }}
                    </label>
                  {% endfor %}
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="locale-section">
                  {% for locale in app.request.attributes.get('locales') %}
                    <input type="radio" id="locale-{{ locale }}" name="locale" class="btn-check locale-input" value="{{ locale }}"{% if currentLocale is same as(locale) %} checked{% endif %}>
                    <label class="btn" for="locale-{{ locale }}">{{ ('locale.'~locale)|trans }} ({{ locale }})</label>
                  {% endfor %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
    	{% block body %}{% endblock %}
    </main>
  </body>
</html>
