<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('bootstrap.min.js') }}"></script>

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header id="main-header">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          {# <!-- <a class="navbar-brand" href="{{ path('app_books_index') }}">Books</a> --> #}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-sm-0">
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_books_index' %}active{% endif %}" href="{{ path('app_books_index') }}">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_authors_index' %}active{% endif %}" href="{{ path('app_authors_index') }}">Authors</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') == 'app_user_my_account' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if app.user %}
                    {{ app.user.name }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_user_my_account') }}">Profile</a></li>
                    {% if not app.user.emailVerified %}
                      <li><a class="dropdown-item" href="{{ path('app_email_verification') }}">Verify email</a></li>
                    {% endif %}
                    {% if app.user.role is same as(enum('App\\Enum\\UserRole').Admin) %}
                      <li><a class="dropdown-item" href="{{ path('app_admin_panel') }}">Admin panel</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                  </ul>
                {% else %}
                    Account
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>
                  </ul>
                {% endif %}
              </li>
            </ul>
            <form action="{{ path('app_books_index') }}" method="get" class="d-flex" role="search">
              <input class="form-control me-2" type="search" name="search" placeholder="Search books" aria-label="Search" value="{{ searchValue ?? '' }}">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
    	{% block body %}{% endblock %}
    </main>
  </body>
</html>
