{% if pagesCount < 1 %}
  {% set pagesCount = 1 %}
{% endif %}

<div class="text-center my-5 pagination-container">
  <a href="{{ prevUrl }}" class="btn btn-secondary{{ currentPage > 1 ? '' : ' disabled' }}">{{ 'previous_page'|trans }}</a>
  <span>{{ currentPage }} / {{ pagesCount }}</span>
  <a href="{{ nextUrl }}" class="btn btn-secondary{{ currentPage < pagesCount ? '' : ' disabled' }}">{{ 'next_page'|trans }}</a>
</div>