{% extends 'base.html.twig' %}

{% block title %}Delete account{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ include('user/header.html.twig', {
    'user': app.user
  }) }}
  <h2 class="h3 text-center mb-3">Delete account</h2>
  {{ form_start(form, {
    'attr': {
      'class': 'container content-container',
      'onsubmit': "return confirm('Are you sure you want to delete your account? This operation cannot be undone!');",
    }
  }) }}
    {{ include('forms/global_errors.html.twig') }}
    {{ include('forms/field.html.twig', {
      'field': form.password
    }) }}
    {{ form_rest(form) }}
    <div class="form-buttons">
      <a href="{{ path('app_user_my_account') }}" class="btn btn-secondary form-button">Cancel</a>
      <button type="submit" class="btn btn-danger form-button">Delete account</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
