{% extends 'base.html.twig' %}

{% block title %}{{ 'delete_account'|trans }}{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ include('user/header.html.twig', {
    'user': app.user
  }) }}
  <h2 class="h3 text-center mb-3">{{ 'delete_account'|trans }}</h2>
  {{ form_start(form, {
    'attr': {
      'class': 'container content-container',
      'onsubmit': "return confirm('" ~ 'confirm_delete_account_message'|trans ~ "!');",
    }
  }) }}
    {{ include('forms/global_errors.html.twig') }}
    {{ include('forms/field.html.twig', {
      'field': form.password
    }) }}
    {{ form_rest(form) }}
    <div class="form-buttons">
      <a href="{{ path('app_user_my_account') }}" class="btn btn-secondary form-button">{{ 'cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger form-button">{{ 'delete_account'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
