{% extends 'base.html.twig' %}

{% block title %}{{ 'change.photo'|trans }}{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ include('user/header.html.twig', {
    'user': app.user
  }) }}
  <h2 class="h3 text-center mb-3">{{ 'change.photo'|trans }}</h2>
  {{ form_start(form, {
    'attr': {
      'class': 'container content-container'
    }
  }) }}
    {{ include('forms/global_errors.html.twig') }}
    {% if photo %}
      <div class="user-image-container text-center mb-3">
        <img src="{{ asset(photo) }}" alt="{{ 'photo'|trans }}" class="img image-preview">
      </div>
      {{ include('forms/field.html.twig', {
        'field': form.deletePhoto,
        'attr': {
          'class': 'form-check-input'
        }
      }) }}
    {% endif %}
    {{ include('forms/field.html.twig', {
      'field': form.photo
    }) }}
    {{ form_rest(form) }}
    {{ include('forms/form_buttons.html.twig', {
      'submitButtonLabel': 'save',
      'cancelButtonHref': path('app_user_my_account')
    }) }}
  {{ form_end(form) }}
{% endblock %}
