{% extends 'base.html.twig' %}

{% block title %}Change name{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ include('user/header.html.twig', {
    'user': app.user
  }) }}
  <h2 class="h3 text-center mb-3">Change name</h2>
  {{ form_start(form, {
    'attr': {
      'class': 'container content-container'
    }
  }) }}
    {{ include('forms/global_errors.html.twig') }}
    {{ include('forms/field.html.twig', {
      'field': form.name
    }) }}
    {{ form_rest(form) }}
    {{ include('forms/form_buttons.html.twig', {
      'submitButtonLabel': 'Save',
      'cancelButtonHref': path('app_user_my_account')
    }) }}
  {{ form_end(form) }}
{% endblock %}
