{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  <h1 class="h2 text-center">Change name</h1>
  {{ form_start(form, {
    'attr': {
      'class': 'container content-container'
    }
  }) }}
    <div class="errors">
      {% for error in form.vars.errors %}
        <div class="alert alert-danger">{{ error.getMessage() }}</div>
      {% endfor %}
    </div>
    {{ include('forms/field.html.twig', {
      'field': form.name
    }) }}
    {{ form_rest(form) }}
    <div class="text-center">
      <button class="btn btn-primary form-button">{{ button_label|default('Save') }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
