{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}
{% block stylesheets %}
  <link href="{{ asset('styles/show.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ include('user/header.html.twig', {
    'user': user
  }) }}
  <div class="container content-container">
    <div class="data-row">
      <div class="data-row-title">{{ 'email_verified'|trans }}</div>
      <div class="data-row-content">{{ (user.emailVerified ? 'yes' : 'no')|trans }}</div>
    </div>
    <div class="data-row">
      <div class="data-row-title">{{ 'created_at'|trans }}</div>
      <div class="data-row-content">{{ user.createdAt.format('Y-m-d') }}</div>
    </div>
    {% if app.user and app.user.id is same as(user.id) %}
      <div class="data-row">
        <div class="data-row-title">{{ 'email'|trans }}</div>
        <div class="data-row-content">{{ user.email }}</div>
      </div>
      <div class="data-row">
        <div class="data-row-title">{{ 'role'|trans }}</div>
        <div class="data-row-content">{{ user.role.toRoleName()|trans }}</div>
      </div>
      <div class="data-row">
        <div class="data-row-title">{{ 'password_changed_at'|trans }}</div>
        <div class="data-row-content">{{ user.passwordChangedAt ? user.passwordChangedAt.format('Y-m-d') : 'never'|trans }}</div>
      </div>
      <div class="settings-buttons section">
        {% if not user.emailVerified %}
          <a href="{{ path('app_email_verification') }}" class="btn btn-primary">{{ 'verify_email'|trans }}</a>
        {% endif %}
        <a href="{{ path('app_user_change_name') }}" class="btn btn-primary">{{ 'change.name'|trans }}</a>
        <a href="{{ path('app_user_change_password') }}" class="btn btn-primary">{{ 'change.password'|trans }}</a>
        <a href="{{ path('app_user_change_email') }}" class="btn btn-primary">{{ 'change.email'|trans }}</a>
        <a href="{{ path('app_user_change_photo') }}" class="btn btn-primary">{{ 'change.photo'|trans }}</a>
      </div>
      <div class="settings-buttons section">
        {% if user.role is same as(enum('App\\Enum\\UserRole').Admin) %}
          <p class="text-muted" style="margin: 0;">{{ 'admin_delete_account_message'|trans }}.</p>
        {% else %}
          <a href="{{ path('app_user_delete_account') }}" class="btn btn-danger">{{ 'delete_account'|trans }}</a>
        {% endif %}
      </div>
      <div class="settings-buttons section">
        <a href="{{ path('app_logout') }}" class="btn btn-secondary">{{ 'logout'|trans }}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
