{% extends 'base.html.twig' %}

{% block title %}{{ 'set_new_email'|trans }}{% endblock %}

{% block body %}
  <article class="container content-container">
    <h1 class="text-center">{{ 'set_new_email'|trans }}</h1>

    {% if verificationLink %}
      {% if error %}
        <div class="alert alert-danger" role="alert">{{ 'set_new_email_database_error'|trans }}.</div>
      {% else %}
        <div class="alert alert-success" role="alert">{{ 'email_changed_message'|trans }}.</div>
      {% endif %}
    {% else %}
      <div class="alert alert-danger" role="alert">{{ 'verification_link_failed'|trans }}.</div>
    {% endif %}
    <div class="text-center">
      <a href="{{ path('app_user_my_account') }}" class="btn btn-secondary">{{ 'go_to_your_profile'|trans }}</a>
    </div>
  </article>
{% endblock %}
