<h1 class="h2">{{ 'hi'|trans }}! {{ 'confirm_email_header'|trans }}</h1>

<p>
  {{ 'confirm_email_message'|trans }}: <br><br>
  <a href="{{ signedUrl|raw }}">{{ 'confirm_my_email'|trans }}</a>.
  {{ 'link_expire_message'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>{{ 'cheers'|trans }}!</p>
