<h1 class="h2">{{ 'hi'|trans }}! {{ 'confirm_email_header'|trans }}</h1>

<p>
  {{ 'email_change_message'|trans }}<br><br>
  {{ 'confirm_email_change_link_message'|trans }}:<br><br>
  <a href="{{ signedUrl|raw }}">{{ 'confirm_email_change'|trans }}</a>
  {{ 'link_expire_message'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>{{ 'ignore_message'|trans }}</p>
<p>{{ 'cheers'|trans }}!</p>
